<% provide(:title, "Dashboard") %>
<h1 class="page-header">Historgram</h1>

<%= high_chart("bar_chart", @histogram) %>

<table class="table">
  <tr>
    <th>Video Title</th>
    <th>View count</th>
  </tr>
  <% @videos.each do |v| %>
  <tr>
    <td><%= link_to v.title, v =%></td>
    <td><%= v.users.count =%></td>
  </tr>
  <% end %>
</table>
