<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <p class="navbar-text"><%= link_to "FULLSCREEN", root_path %></p>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Videos", videos_path %></li>
      </ul>
    </nav>
  </div>
</header>